// @import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';
@import 'foundation';

$title-color: #999999;
$body-color: #E3EDF7;
$text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
$box-shadow: 2px 2px 2px 2px #22252B;
$box-shadow-light: 1px 1px 1px 1px #22252B;

body
 {
   background-color: #97B6CF;
   min-width: 600px;
 }
button
  {
    box-shadow: $box-shadow-light;
  }

fieldset
 {
   background-color: #999999;
 }

.top-bar,
 {
  background-color: #666666;
}
///
//login page

.login-page
 {
   background-image: url(http://media.bizj.us/view/img/2967461/helping-hands*1200xx6773-3810-0-506.jpg);
   background-size: cover;
   height: 761px;
   z-index: -3;
 }

.login-title
  {
    position: absolute;
    font-size: 60px;
    width: 50%;
    margin-top: -1px;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
    z-index: 3;
  }

.js-login-box
 {
   position: absolute;
   top: 800px;
   margin: 0 auto;

 }

.login-quote
 {
  position: absolute;
  font-size: 17px;
  z-index: 0;
  color: white;
  width: 40%;
  top: 300px;
  margin-left: 20px;
 }

.login-overlay
 {
   position: absolute;
   height: 761px;
   width: 100%;
   margin: 0 auto;
   background-color: rgba(102, 102, 102, .2);
   z-index: 0;

 }

.legend
 {
   color: white;
   font-size: 20px;
 }



//
//index page-bulletinBoard display
//
.welcome
 {
  margin-left: 10px;
  color: #22252B;
 }

.bulletinBoard
 {
  text-align: center;
  color: white;
}

.buttetin-ul
 {
   width: 80%;
   margin: 0 auto;

 }

.bulletinLines
 {
  background-color: white;
  list-style: none;
  margin-bottom: 15px;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: $box-shadow;
 }

.bulletin-title
 {
   font-weight: bold;
 }


.bulletinHR{
  margin-bottom: 5px;
  margin-top: 0;
}

.bulletinSpan
 {
  font-size: 11px;
}

.bulletin-moment
 {
  float: right;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 5px;
 }

//
//view-client-list display
//
.clients
 {
  text-align: center;
  color: white;
}


.clientListView
 {
  list-style: none;
  box-shadow: $box-shadow;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding-top: 10px;
  padding-left: 5px;
 }

 //New Client page and input box styling
 ///
.newClient
 {
  text-align: center;
  }

//client view page and assistance components

.client-page
 {
     width: 80%;
     margin: 0 auto
 }

.sub-nav
 {
   color: white;
 }


//assistance toggle//
// this was copied off of a codepen session found on a google search

.section.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 100%;

  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
  margin-bottom: 7px;
  box-shadow: $box-shadow;

}

.article {
  background-color: #F3F3F3;
  padding: 1em;
  color: #333;
  line-height: 1.3;
}

.asst-creator
 {
  float: right;
  font-size: 12px;
}
///
//search bar page//

.search-title
 {
   color: white;

 }

.user-profile
 {
   margin: 0 auto;

 }

 .user-title
  {
    color: white;
    text-align: center;
  }
