// @import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';
@import 'foundation';

body
 {
  background-color: #F3F3F3;
}

.top-bar,
 {
  background-color: #666666;
}


//
//index page-bulletinBoard display
//
.welcome
 {
  margin-left: 10px;
 }

.bulletinBoard
 {
  text-align: center;
}

.bulletinLines
 {
  background-color: #F4EDDB;
  list-style: none;
  margin-bottom: 15px;

 }

.bulletinHR{
  margin-bottom: 5px;
  margin-top: 0;
}

.bulletinSpan
 {
  font-size: 10px;
}

//
//view-client-list display
//
.clients
 {
  text-align: center;
}
.clientListView
 {
  list-style: none;
 }

 .clientInput {
   background-color: blue;
 }

 //New Client page and input box styling
 ///
.newClient
 {
  text-align: center;
  }

//client view page and assistance components

.assistance
 {
  background-color: #F4EDDB;
  padding-left: 20px;
  padding-top: 15px;
  position: relative;
  height: 50px;

 }

.add_asst
 {
   float: right;
   margin-right: 50%;
 }

//assistance toggle//
// this was copied off of a codepen session found on a google search

.section.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 120px;

  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
  border-bottom: 1px solid black;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}
