// @import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';
@import 'foundation';
$title-color: #999999;
$body-color: #E3EDF7;
$text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
$box-shadow: 2px 2px 2px 2px #999999;

body
 {
   background-color: #97B6CF;
 }

.top-bar,
 {
  background-color: #666666;
}
///
//login page

.login-page
 {
   background-image: url(http://media.bizj.us/view/img/2967461/helping-hands*1200xx6773-3810-0-506.jpg);
   background-size: cover;
   height: 761px;
   z-index: -3;
 }

.login-title
  {
    position: absolute;
    font-size: 60px;
    width: 50%;
    margin-top: -1px;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
    z-index: 3;
  }

.js-login-box
 {
   position: absolute;
   top: 800px;
   margin: 0 auto;

 }

.login-overlay
 {
   position: absolute;
   height: 761px;
   width: 100%;
   margin: 0 auto;
   background-color: rgba(102, 102, 102, .2);
   z-index: 0;

 }

.login-legend
 {
   color: white;
 }



//
//index page-bulletinBoard display
//
.welcome
 {
  margin-left: 10px;
  color: $title-color;
 }

.bulletinBoard
 {
  text-align: center;
  color: white;
}

.buttetin-ul
 {
   width: 80%;
   margin: 0 auto;

 }

.bulletinLines
 {
  background-color: white;
  list-style: none;
  margin-bottom: 15px;
  padding-left: 15px;
  border-radius: 2%;
  box-shadow: $box-shadow

 }

.bulletinHR{
  margin-bottom: 5px;
  margin-top: 0;
}

.bulletinSpan
 {
  font-size: 10px;
}

//
//view-client-list display
//
.clients
 {
  text-align: center;
  color: white;
}

.client-list
 {
   background-color: white;
   padding-top: 10px;
   padding-left: 5px;
   width: 80%;
   margin: 0 auto;
 }

.clientListView
 {
  list-style: none;
 }

 //New Client page and input box styling
 ///
.newClient
 {
  text-align: center;
  }

//client view page and assistance components

.client-page
 {
     width: 80%;
     margin: 0 auto
 }

.sub-nav
 {
   color: white;
 }


//assistance toggle//
// this was copied off of a codepen session found on a google search

.section.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 120px;

  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {


  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
  border-bottom: 1px solid black;

}

.article {
  background-color: #F3F3F3;
  padding: 1em;
  color: #333;
  line-height: 1.3;
}

///
//search bar page//

.search-title
 {
   color: white;

 }

.user-profile
 {
   margin: 0 auto;

 }

 .user-title
  {
    color: white;
    text-align: center;
  }
.js-user-label
 {
   font-size: 9px;
 }
